<section class="s3 p-3">
    <div>
      <h1 class="s2h">Branded Clothes With Less Price</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 m-2">
      <div class="col">
        <div class="card">
          <img class="img-fluid ms-auto me-auto" width="250px" height="300px" src="../assets/images/pse12.jpg" alt="">
          <div class="card-body">
            <h5 class="card-title">Shirt</h5>
            <p class="card-text"> Without Material - 350 rs <br> With Material - 550 rs</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="img-fluid ms-auto me-auto" width="250px" height="300px" src="../assets/images/pant1.jpg" alt="">
          <div class="card-body">
            <h5 class="card-title">Pant</h5>
            <p class="card-text">Without Material - 350 rs <br> With Material - 550 rs</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="img-fluid ms-auto me-auto" width="250px" height="300px" src="../assets/images/pantshirt1.jpg"
            alt="">
          <div class="card-body">
            <h5 class="card-title">Shirt Pant</h5>
            <p class="card-text">Without Material - 650 rs <br> With Material - 1050</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card justify-content-center">
          <img class="img-fluid ms-auto me-auto" width="250px" height="300px" src="../assets/images/safari1.jpg" alt="">
          <div class="card-body">
            <h5 class="card-title">Safari</h5>
            <p class="card-text">Without Material - 500 rs <br> With Material - 900 rs</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="img-fluid ms-auto me-auto" width="250px" height="300px" src="../assets/images/kurta1.jpg" alt="">
          <div class="card-body">
            <h5 class="card-title">Kurta</h5>
            <p class="card-text">Without Material - 200 rs <br> With Material - 400 rs</p>
          </div>
        </div>
      </div>
  
    </div>
  </section>